.timetag{
    margin-right: 100px;
}
.timeline-background{
    margin: 4vh 4vmax 4vmax 2vmax;
    padding-top: 1rem;
    background-color: white;
    color: black;
    border-radius: 10px;
}
.timeline-dot-target{
    transition: 0.2s;
}
.timeline-dot-target:hover{
    transform: scale(1.4);
}
.hovered{
    transform: scale(1.4);
}