.project-item{
    transition: 0.2s;
}
.project-item:hover{
    transform: scale(1.02);
}

@keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
  
    10%, 30%, 50%, 70%, 90% {
      transform: translateX(-5px);
    }
  
    20%, 40%, 60%, 80% {
      transform: translateX(5px);
    }
  }

.pop-out-effect{
    animation-name: shake; /* Use 'zoomOut' for zoom-out effect */
    animation-duration: 1.2s; /* Set the duration of the animation */
    animation-fill-mode: both; /* Maintain the final state of the animation */
}

.opp-content{
  transition: 0.5s all;
  padding: 0rem;
  border-radius: 1rem;
}